<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>投票网</title>
    <link rel="stylesheet" href="./stylesheets/layui.css">
</head>

<div class="changeWord" style="padding: 2cm 0 0 2cm">
    <form action="/person" method="post">
        <span  style="color: red;font-size: 25px;">姓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp名<input class="name1" type="text"></span>
        <br>
        <span  style="color: red;font-size: 25px;">电话号码<input class="phone1" type="text"></span>
        <br>
        <input type="button" value="确认修改" onclick="ChangeInfo()" style="font-size: 20px;margin-top: 20px;margin-left: 200px">
    </form>
</div>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><a href="/index" style="text-decoration: none;color: green">投票网个人中心</a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="./images/1.gif" class="layui-nav-img">{{Obj.name}}
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="/index">退出</a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="#" href="javascript:;">菜单栏</a>
                    <dl class="layui-nav-child">
                        {{#if Obj.jude}}
                                <dd>
                                    <a href="/addvote" target="right">添加投票</a>
                                </dd>
                        {{/if}}
                        <dd>
                            <a href="myinfo.html" target="right">人员信息</a>
                        </dd>
                        <dd>
                            <a href="voterecord.html" target="right">投票记录</a>
                        </dd>
                        {{#if Obj.jude}}
                        <dd>
                            <a href="#" >用户查看</a>
                        </dd>
                         {{/if}}
                        <dd>
                            <a href="#" class="change">修改信息</a>
<!--   $(".change").click(function(){ $(".changeWord").css('display','block')})     -->
                        </dd>
                    </dl>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="z-index: 0;">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <iframe src="myinfo.html" name="right" frameborder="0" width="100%" height="1200"></iframe>

        </div>
    </div>

    <div class="layui-footer">
    </div>
</div>

<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>